@import "tailwindcss";

/* src/index.css */
*, *::before, *::after {
  box-sizing: border-box;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}